body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
}

footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
    border-top: solid black 2px;
}

.alert {
    min-width: 22rem;
    max-width: 30rem;
}

.card-body {
    padding: 0.75rem 0.75rem;
    display: flex;
    flex-direction: column;
}

.card-head {
    display: flex;
    justify-content: space-between;
}

.card-subtitle {
    margin-top: 0;
}


#filters {
    display: flex;
    /*background-color: rgba(117, 190, 218, 0.5);*/
    align-items: baseline;
}

#display {
    display: flex;
    flex-wrap: wrap;
}